#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


.auth-section {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 300px;
  background-color:#F9E795;
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
}

.auth-section-input {
  margin: 10px;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.auth-section-buttons {
  width: 188px;
  display: flex;
  justify-content: space-between;
  
}

.button-log-out {
  
  position: absolute;
  left: 1000px;
}

.book-list-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book-card {

  width: 300px;
  height: 400px;
  background-color:  #8AAAE5;
  color:#00246B;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 8px 24px -11px rgba(66, 68, 90, 1);
-moz-box-shadow: 3px 8px 24px -11px rgba(66, 68, 90, 1);
box-shadow: 3px 8px 24px -11px rgba(66, 68, 90, 1);
}

.book-card-top
{
  width: 100%;
  height: 60%;
}

