#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}


.auth-section {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 38px -8px rgba(66, 68, 90, 1);
}

.auth-section-input {
  margin: 10px;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.auth-section-buttons {
  width: 188px;
  display: flex;
  justify-content: space-between;
  
}
